<p id="notice"><%= notice %></p>

<h1>Scholarships</h1>
<%= link_to 'New Scholarship', new_scholarship_path, class: "btn btn-primary"  %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Amount(Rs.)</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Status</th>
      <th>Student</th>
      <th>Sponsor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scholarships.each do |scholarship| %>
      <tr>
        <td><%= scholarship.amount %></td>
        <td><%= scholarship.start_date %></td>
        <td><%= scholarship.end_date %></td>
        <td><%= scholarship.status %></td>
        <td><%= scholarship.student.full_name %></td>
        <td><%= scholarship.sponsor.full_name %></td>
        <td><%= link_to 'View', scholarship, class: "btn btn-info glyphicon glyphicon-info-sign" %></td>
        <td><%= link_to 'Edit', edit_scholarship_path(scholarship), class: "btn btn-warning glyphicon glyphicon-edit" %></td>
        <td><%= link_to 'Delete', scholarship, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger glyphicon glyphicon-remove" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


