<%= link_to 'Back', scholarships_path %>
<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading"><h4>Scholarship for  <%= link_to @scholarship.student do%>  <%= @scholarship.student.full_name %> <% end %></h4></div>
  <div class="panel-body">
    <p>
      <strong>Amount:</strong>
      <%= @scholarship.amount %>
    </p>

    <p>
      <strong>Start date:</strong>
      <%= @scholarship.start_date %>
    </p>

    <p>
      <strong>End date:</strong>
      <%= @scholarship.end_date %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @scholarship.get_status Date.today %>
    </p>
    <p>
      <strong>Sponsor:</strong>
      <%= link_to @scholarship.sponsor do%>  <%= @scholarship.sponsor.full_name %> <% end %>
    </p>
    <br/>
  </div>
  <%= link_to 'Edit', edit_scholarship_path(@scholarship) %> |
  <%= link_to 'Back', scholarships_path %>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><h4>Payments made to the student</h4></div>
  <%= render partial: "payments/payment", locals: {pp:@scholarship.past_payments} %>
</div>




