<p id="notice" class=bg-success"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @student.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>Faculty:</strong>
  <%= @student.faculty %>
</p>

<p>
  <strong>Department:</strong>
  <%= @student.department %>
</p>

<div class="panel panel-default">
  <div class="panel-heading"><h4>Scholarships</h4> </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
       <tr>
       <th>Scholarship Id </th>
        <th>Sponsor</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Amount (Rs.)</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <% @student.scholarships.sort_by{|x| x.start_date}.each do |schol| %>
        <tr>
          <td><%=link_to schol do%><%=schol.id %><% end %></td>
          <td><%= link_to schol.sponsor do%>  <%= schol.sponsor.full_name %> <% end %></td>
          <td><%= schol.start_date %></td>
          <td><%= schol.end_date %></td>
          <td><%= number_to_currency(schol.amount , unit:"Rs.", precision: 2)%></td>
          <td><%= schol.status %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<% @student.scholarships.sort_by{|x| x.start_date}.reverse.each do |schol| %>
<div class="panel panel-default">
  <div class="panel-heading"><h4>Payments made to student for scholarship : <%=link_to schol do%><%=schol.id %><% end %> </h4></div>
  <%= render partial: "payments/payment", locals: {pp:schol.past_payments} %>
</div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading"><h4>Scholarships</h4> </div>
  <div class="panel-body">
  <table class="table table-striped">
  <% @student.student_feedback.sort_by{|x| x.timestamp}.each do |fb| %>
  <th><tr><td><%=fb.timestamp%> Renew Year:<%=fb.renew_year%></td></tr></th>
  <th><tr><td>
  Academic Progress: <br/>
  <%=fb.academic_progress.gsub '\n', "\<br/\>" %>
  
  Notes: <br/>
  <%=fb.comments.gsub '\n', "\<br/\>" %>
  </td></tr></th>
  <% end %>
    </table>
  </div>
</div>


<%= link_to 'Edit', edit_student_path(@student), class: "btn btn-warning" %> |
<%= link_to 'Back', students_path %>
