<p id="notice"><%= notice %></p>

<% fye=2017 %>
<h1>Sponsors Summary  <%=fye %>-<%=fye+1 %> FYE</h1>
<%= link_to 'New Sponsor', new_sponsor_path, class: "btn btn-primary"  %>
<table class="table table-striped">
	
  <thead>
    <tr>
      <th>Title</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Prepaid/Arrears</th>
      <th>ScholPayments @<%=fye %>0630</th>
      <th>Donations @<%=fye %>0630</th>
      <th>Accrued @ <%=fye %>0701</th>
      <th>Schols <%=fye %>-<%=fye+1 %>FYE</th>
      <th>Donations <%=fye %>-<%=fye+1 %>FYE</th>
      <th>Bad Debt or Acc @ <%=fye %>0630</th>
      
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @sponsors.sort_by{|x| x.id}.each do |sponsor| %>
      <tr>
        <td><%= sponsor.title %></td>
        <td><%= sponsor.full_name %></td>
        <td><%= sponsor.email %></td>
        <td><%= sponsor.phone %></td>
        <% gap =sponsor.total_donations-sponsor.total_payments_aud %>
        <td><%if (gap <0) %> 
        		<span class="text-danger">
        	<% else %>
        		<span class="text-info">
        	<% end %> 
        	<%= number_to_currency(gap, precision: 2)%>
        </span></td>

        <% 
        	paymentsSOY=sponsor.total_payments_aud_before_FYE(fye)
        	donationsSOY=sponsor.total_donations_before_FYE(fye)
        	accruedSOY=paymentsSOY-donationsSOY
        	paymentsFYE=sponsor.total_payments_aud_within_FYE(fye)
        	donationsFYE=sponsor.total_donations_within_FYE(fye)
        	debt = donationsFYE - (accruedSOY + paymentsFYE) 
        %>
        
        <td><%= number_to_currency(paymentsSOY) %></td>
        <td><%= number_to_currency(donationsSOY) %></td>
        
        <td><%= number_to_currency(accruedSOY) %></td>

		<td><%= number_to_currency(paymentsFYE) %></td>
        <td><%= number_to_currency(donationsFYE) %></td>
        <td><%if (debt <0) %> 
        		<span class="text-danger">
        	<% else %>
        		<span class="text-info">
        	<% end %> 
        	<%= number_to_currency(debt, precision: 2)%>
        </span></td>
        <td><%= link_to 'View', sponsor, class: "btn btn-success"%></td>
      </tr>
    <% end %>
  	</tbody>
</table>

<br/>
<br/>



