<p id="notice"><%= notice %></p>

<h1>Sponsors</h1>
<%= link_to 'New Sponsor', new_sponsor_path, class: "btn btn-primary"  %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Prepaid/Arrears</th>
      <th>ScholPayments @20170630</th>
      <th>Donations @20170630</th>
      <th>Accrued @ 20170701</th>
      <th>Schols 17-18FYE</th>
      <th>Donations 17-18FYE</th>
      <th>Bad Debt or Acc @ 20170630</th>
      
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @sponsors.sort_by{|x| x.id}.each do |sponsor| %>
      <tr>
        <td><%= sponsor.title %></td>
        <td><%= sponsor.full_name %></td>
        <td><%= sponsor.email %></td>
        <td><%= sponsor.phone %></td>
        <% gap =sponsor.total_donations-sponsor.total_payments_aud %>
        <td><%if (gap <0) %> 
        		<span class="text-danger">
        	<% else %>
        		<span class="text-info">
        	<% end %> 
        	<%= number_to_currency(gap, precision: 2)%>
        </span></td>
        <td><%= number_to_currency(sponsor.total_payments_aud_before_FYE) %></td>
        <td><%= number_to_currency(sponsor.total_donations_before_FYE) %></td>
        
        <td><%= number_to_currency(sponsor.total_payments_aud_before_FYE - sponsor.total_donations_before_FYE) %></td>

		<td><%= number_to_currency(sponsor.total_payments_aud_within_FYE) %></td>
        <td><%= number_to_currency(sponsor.total_donations_within_FYE) %></td>
        <% debt = sponsor.total_donations_within_FYE - (sponsor.total_payments_aud_before_FYE - sponsor.total_donations_before_FYE + sponsor.total_payments_aud_within_FYE) %>
        <td><%if (debt <0) %> 
        		<span class="text-danger">
        	<% else %>
        		<span class="text-info">
        	<% end %> 
        	<%= number_to_currency(debt, precision: 2)%>
        </span></td>
        <td><%= link_to 'View', sponsor, class: "btn btn-success"%></td>
      </tr>
    <% end %>
  	</tbody>
</table>

<br/>
<br/>



