<p id="notice"><%= notice %></p>

<h1>Sponsors</h1>
<%= link_to 'New Sponsor', new_sponsor_path, class: "btn btn-primary"  %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Prepaid/Arrears</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sponsors.sort_by{|x| x.id}.each do |sponsor| %>
      <tr>
        <td><%= link_to sponsor.title, sponsor_path(sponsor,format: 'pdf') %></td>
        <td><%= sponsor.full_name %></td>
        <td><%= sponsor.email %></td>
        <td><%= sponsor.phone %></td>
        <% gap =sponsor.total_donations-sponsor.total_payments_aud %>
        <td><%if (gap <0) %> 
        		<span class="text-danger">
        	<% else %>
        		<span class="text-info">
        	<% end %> 
        	<%= number_to_currency(gap, precision: 2)%>
        	</span></td>
        <td><%= link_to 'View', sponsor, class: "btn btn-info"%></td>
        <td><%= link_to 'Edit', edit_sponsor_path(sponsor),  class: "btn btn-warning" %></td>
        <td><%= link_to 'Delete', sponsor, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-danger"%></td>
      </tr>
    <% end %>
  	</tbody>
</table>

<br/>
<br/>



