<p id="notice"><%= notice %></p>
<%= link_to 'Back', sponsors_path %>
<h1><%= @sponsor.title %>. <%= @sponsor.first_name %>  <%= @sponsor.last_name %></h1>
<p> <small>E:  <%= @sponsor.email %> <br/> T:  <%= @sponsor.phone %></small></p>

<div class="panel panel-default">
  <div class="panel-heading"><h4>Currently sponsoring</h4></div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Student</th>
        <th>Scholarship id</th>
        <th>Start date</th>
        <th>End date</th>
        <th>State</th>
      </tr>
      </thead>
      <tbody>
      <% @sponsor.scholarships.each do |schol| %>
        <tr>
          <td><%= link_to schol.student do%>  <%= schol.student.full_name %> <% end %></td>
          <td><%= link_to schol do%>  <%= schol.id %> <% end %></td>
          <td><%= schol.start_date %></td>
          <td><%= schol.end_date %></td>
          <td><%= schol.status %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<br/>

<div class="panel panel-default">
  <div class="panel-heading"><h4>Past Donations</h4></div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Donation id</th>
        <th>Amount </th>
        <th>Valid from</th>
        <th>Num of months</th>
        <th>Scholarship</th>
      </tr>
      </thead>
      <tbody>
      <% @sponsor.donations.each do |donation| %>
        <tr>
          <td><%= link_to donation do%>  <%= donation.id %> <% end %></td>
          <td><%= donation.amount %></td>
          <td><%= donation.valid_from %></td>
          <td><%= donation.num_of_months %></td>
          <td><%= link_to donation.scholarship do%>  #<%= donation.scholarship.id %> for <%= donation.scholarship.student.full_name %> <% end %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>


