<p id="notice"><%= notice %></p>


<p>
  <strong>Sponsor:</strong>
  <%= @donation.sponsor.full_name %>
</p>

<p>
  <strong>Scholarship:</strong>
  <%= @donation.scholarship_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @donation.amount %>
</p>

<p>
  <strong>Valid from:</strong>
  <%= @donation.valid_from %>
</p>

<p>
  <strong>Number of months:</strong>
  <%= @donation.num_of_months %>
</p>


<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
