<p id="notice"><%= notice %></p>


<p>
  <strong>Sponsor:</strong>
  <%= link_to @donation.sponsor do @donation.sponsor.full_name end%>
</p>

<p>
  <strong>Scholarship:</strong>
  <%=link_to @donation.scholarship do %><%=@donation.scholarship_id%><%end %> for student : <%=link_to @donation.scholarship.student do @donation.scholarship.student.full_name  end%>  
</p>


<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@donation.amount) %>
</p>

<p>
  <strong>Bank Date:</strong>
  <%= @donation.bank_date %>
</p>

<p>
  <strong>Account:</strong>
  <%= @donation.account %>
</p>

<p>
  <strong>Valid from:</strong>
  <%= @donation.valid_from %>
</p>

<p>
  <strong>Number of months:</strong>
  <%= @donation.num_of_months %>
</p>


<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
