<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
    <div class="row">

      <div class="col-md-5 form-group">
        <%= f.label :notes %>
        <%= f.text_area :notes, class: "form-control" %>
      </div>
    </div>

      <div class="panel panel-default">
        <div class="panel-heading"><h4>Pending payments </h4></div>
        <div class="panel-body">
            <table class="table table-striped">
              <thead>
              <tr>
                <th></th>
                <th>Student</th>
                <th>Year - Month</th>
                <th>Scholarship</th>
                <th>Status</th>
                <th>Amount (Rs.)</th>
              </tr>
              </thead>
              <tbody>
              <% Payment.eligible_payments.each do |payment| %>
                <tr>
                  <td><%=check_box_tag :month,  checked: true, :id => "#{payment['month']}"  %></td>
                  <td></td>
                  <td><%= payment.month / 10 %>-<%= payment.month % 10%></td>
                  <td><%= payment.scholarship.id %> </td>
                  <td><%= payment.scholarship.status%></td>
                  <td><%= payment.scholarship.amount%></td>
                </tr>
              <% end %>
              </tbody>
            </table>

        </div>
      </div>
      <div class="actions">
        <%= f.submit class: "btn btn-primary"%>
      </div>
    </div>


<% end %>
