<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
    <div class="row">


      <div class="col-md-5 form-group">
        <%= f.label :scholarship_id %>
        <%= f.text_field :scholarship_id, class: "form-control" %>
      	<%= f.label :amount %>
        <%= f.text_field :amount, class: "form-control" %>
      	<%= f.label :amount_aud %>
        <%= f.text_field :amount_aud, class: "form-control" %>
        <%= f.label :bank_date %>
        <%= f.text_field :bank_date, class: "form-control" %>
        <%= f.label :effective_year %>
        <%= f.text_field :effective_year, class: "form-control" %>
         <%= f.label :effective_month %>
        <%= f.text_field :effective_month, class: "form-control" %>
		<%= f.label :notes %>
        <%= f.text_area :notes, class: "form-control" %>
      </div>
     </div>

      
      <div class="actions">
        <%= f.submit class: "btn btn-primary"%>
      </div>
    </div>


<% end %>
