<p id="notice"><%= notice %></p>

<h1>Payments</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Student</th>
    <th>For Scholarship</th>
    <th>Amount (Rs)</th>
    <th>From Acc.</th>
    <th>To Acc.</th>
    <th>External Ref.</th>
    <th>Notes</th>
  </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.student.full_name %></td>
        <td><%= payment.scholarship.id %></td>
        <td><%= payment.amount %></td>
        <td><%= payment.from_account %></td>
        <td><%= payment.to_account %></td>
        <td><%= payment.external_ref %></td>
        <td><%= payment.notes %></td>
        <!--<td><%= link_to 'Show', payment, class: "btn btn-info" %></td>-->
        <!--<td><%= link_to 'Edit', edit_payment_path(payment), class: "btn btn-warning" %></td>-->
        <!--<td><%= link_to 'Delete', payment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--<%= link_to 'New Payment', new_payment_path, class: "btn btn-primary"  %>-->
