<%= form_for(@bulk_transaction) do |f| %>
  <% if @bulk_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bulk_transaction.errors.count, "error") %> prohibited this bulk_transaction from being saved:</h2>

      <ul>
      <% @bulk_transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :settled_date %><br>
    <%= f.date_select :settled_date %>
  </div>
  <div class="field">
    <%= f.label :sender %><br>
    <%= f.text_field :sender %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :amount_lkr %><br>
    <%= f.text_field :amount_lkr %>
  </div>
  <div class="field">
    <%= f.label :rate %><br>
    <%= f.text_field :rate %>
  </div>
  <div class="field">
    <%= f.label :bank_date %><br>
    <%= f.date_select :bank_date %>
  </div>
  <div class="field">
    <%= f.label :chq_no %><br>
    <%= f.text_field :chq_no %>
  </div>
  <div class="field">
    <%= f.label :bank_acc %><br>
    <%= f.text_field :bank_acc %>
  </div>
  <div class="field">
    <%= f.label :beneficiary %><br>
    <%= f.text_field :beneficiary %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :effective_year %><br>
    <%= f.number_field :effective_year %>
  </div>
  <div class="field">
    <%= f.label :effective_months %><br>
    <%= f.number_field :effective_months %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
