<p id="notice"><%= notice %></p>

<h1>Listing Bulk Transactions</h1>
<%= link_to 'New Bulk transaction', new_bulk_transaction_path, class: "btn btn-primary" %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Settled date</th>
      <th>Sender</th>
      <th>Amount</th>
      <th>Amount lkr</th>
      <th>Rate</th>
      <th>Bank date</th>
      <th>Chq no</th>
      <th>Bank acc</th>
      <th>Beneficiary</th>
      <th>Notes</th>
      <th>Effective year</th>
      <th>Effective months</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @bulk_transactions.sort_by{|x| x.bank_date}.reverse.each do |bulk_transaction| %>
      <tr>
        <td><%= bulk_transaction.settled_date %></td>
        <td><%= bulk_transaction.sender %></td>
        <td><%= bulk_transaction.amount %></td>
        <td><%= bulk_transaction.amount_lkr %></td>
        <td><%= bulk_transaction.rate %></td>
        <td><%= bulk_transaction.bank_date %></td>
        <td><%= bulk_transaction.chq_no %></td>
        <td><%= bulk_transaction.bank_acc %></td>
        <td><%= bulk_transaction.beneficiary %></td>
        <td><%= bulk_transaction.notes %></td>
        <td><%= bulk_transaction.effective_year %></td>
        <td><%= bulk_transaction.effective_months %></td>
        <td><%= link_to 'View', bulk_transaction, class: "btn btn-info glyphicon glyphicon-info-sign" %></td>
        <td><%= link_to 'Edit', edit_bulk_transaction_path(bulk_transaction), class: "btn btn-warning glyphicon glyphicon-edit" %></td>
        <td><%= link_to 'Delete', bulk_transaction, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger glyphicon glyphicon-remove" %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


