<!DOCTYPE html>
<html>
<head>
  <title>Scholify</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared/menu" %>
<div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
<% if current_user %>
    <%= yield %>
<% else %>
    <div class="jumbotron">
      <h1>Please login!</h1>
      <br>
      <p>Please login using
        <%= link_to 'Google+', '/auth/google', class: "btn btn-primary"  %> to continue...</p>
    </div>
<% end %>
</div>
<footer class="footer">
  <div class="container">
    <p class="text-muted"> University of Moratuwa Alumni Association in Victoria  <a hre="#"><span class="glyphicon glyphicon-envelope"></span></a></p>
  </div>
</footer>
</body>
</html>
